{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <h1>Открылся новый кабинет компьютерной томографии</h1>
        <a href="#" class="hero-button">Подробнее</a>
    </div>
</div>

<div class="stats">
    <div class="container">
        <div class="stat">
            <h2>100+</h2>
            <p>Специалистов разных направлений</p>
        </div>
        <div class="stat">
            <h2>27 лет</h2>
            <p>Успешно оказываем медицинские услуги</p>
        </div>
        <div class="stat">
            <h2>71</h2>
            <p>Профиль оказываемой медицинской помощи</p>
        </div>
    </div>
</div>
{% endblock %}